/*
these make the slideshow work
*/
#slides {
    position: relative;
    height: 400px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing {
    opacity: 1;
    z-index: 2;
}

.controls {
    display: none;
}

/*
non-essential styles:
just for appearance; change whatever you want
*/

.slide {
    font-size: 40px;
    box-sizing: border-box;
    background: #333;
    color: #fff;
    background-size: cover;
}

.slide div {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    right: 0;
    width: 40%;
    height: 100%;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #ffffff;
    padding: 56px 100px 0 28px;
}

.slide div p:first-child {
    width: 100%;
}

.slide div p {
    display: inline-block;
    width: 50%;
}

.slide div button {
    margin-top: 30px;
}

.slide:nth-of-type(1) {
    background: url("../images/galery.png");
}

.slide:nth-of-type(2) {
    background: #000000 url("../images/galery2.png") no-repeat;
    background-size: contain;
}

.slide:nth-of-type(3) {
    background: url("../images/big-img.png") no-repeat;
    background-size: cover;
}

.controls {
    font-size: 60px;
    cursor: pointer;: pointer;
    color: #b3b3b3;
    background: none;
    border: none;
}

.controls:hover  {
    color: #333;
}

.controls:focus {
    outline: none;
}

.container {
    position: relative;
}

#previous {
    left: -1em;
    position: relative;
    top: 4em;
}

#next {
    position: relative;
    top: 4em;
    left: 19em;
}