.wrapper {
  color: #000000;
  font-family: "Open Sans";
  font-size: 15px;
}

a:hover {
  cursor: pointer;
}

.main-button {
  float: right;
  border-radius: 4px;
  border: 1px solid #90bc3b;
  background-color: rgba(255, 255, 255, 0);
  padding: 10px 20px;
  color: #659a00;
  font-size: 1em;
}

.main-button:hover {
  background-color: #90bc3b;
  color: #ffffff;
}

.button {
  border-radius: 4px;
  background-color: #90bc3b;
  font-size: 1em;
  font-weight: 400;
  padding: 10px 21px;
  color: #ffffff;
  border: 1px solid #90bc3b;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0);
  color: #659a00;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  > .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    p {
      width: 50%;
      padding-left: 3%;
      font-size: 1em;
      font-weight: 400;
      line-height: 21px;
    }
  }
  div {
    font-size: 1.3em;
    font-weight: 400;
    line-height: 20px;
    a {
      margin-left: 30px;
    }
    span {
      padding: 0 10px;
    }
    span:nth-child(2) {
      border-right: 1px solid #000000;
    }
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e6e6e6;
  ul {
    padding-left: 0;
    margin-bottom: 0;
    min-width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    li {
      list-style: none;
      padding: 1% 5%;
      height: 100%;
      display: flex;
      align-items: center;
      a {
        font-size: 1.2em;
        font-weight: 400;
        line-height: 1.2em;
        color: inherit;
        &:hover {
          color: inherit;
          text-decoration: none;
        }
        &:focus {
          outline: none;
          outline-offset: 0;
        }
      }
      &:hover {
        border-bottom: 2px solid #8cc63e;
        padding-bottom: calc(1% - 2px);
      }
    }
  }
  div {
    input {
      border: none;
    }
  }
}

.search-icon {
  margin-left: -22px;
}

.grid-item {
  .grid-product-wrap {
    border: 1px solid #e6e6e6;
    &:hover {
      box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.2);
    }
    &:hover .propose-image div {
      width: 72px;
      height: 72px;
      font-size: 2em;
    }
    .propose-text {
      padding: 17px 21px 19px;
      height: 100%;
      p {
        font-size: 1em;
        font-weight: 400;
        margin-bottom: 25px;
      }
      div {
        span {
          font-size: 1.3em;
          font-weight: 400;
        }
        .strikethrough-text {
          color: #999999;
          font-size: 1em;
          font-weight: 400;
          text-decoration: line-through;
          margin-left: 45px;
        }
      }
    }
  }
}

.propose-image {
  position: relative;
  img {
    width: 100%;
  }
  div {
    color: #fff;
    background-color: #8cc63e;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    font-size: 1.3em;
  }
}

.main-padding {
  padding: 0 7%;
}

.header-width-img {
  height: 26em;
  margin-top: 40px;
}

.header-big-img {
  background: url(../images/big-banner.png) no-repeat;
  height: 100%;
  background-size: cover;
}

.header-state {
  height: 129px;
  margin-top: 1px;
  background: #000000 url(../images/little-baner.png) no-repeat;
  background-size: cover;
  div {
    padding: 3%;
    background-color: #8cc63e;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
}

section {
  margin-top: 47px;
  h3 {
    font-size: 1.6em;
    font-weight: 400;
    line-height: 17px;
    display: inline-block;
    margin: 0;
  }
  .row {
    margin-top: 61px;
  }
}

.grid-product-item {
  height: 270px;
  .grid-product-wrap {
    border: 1px solid #e6e6e6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding: 10%;
    text-align: center;
    .grid-product-img {
      width: 100%;
      height: 104px;
      background-color: #f2f2f2;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        padding: 37px 0;
      }
    }
    h4 {
      font-size: 1.3em;
      font-weight: 400;
      line-height: 25px;
    }
    p {
      font-size: 1em;
      font-weight: 400;
      line-height: 22px;
      height: 2em;
    }
    .grey-block-item {
      height: 104px;
      width: 75%;
      background-color: #f2f2f2;
    }
    &:hover {
      background: #000000 url("../images/parket.png") no-repeat;
      background-size: cover;
      color: white;
    }
    &:hover .grid-product-img {
      height: 84px;
      width: 84px;
      border-radius: 50%;
      margin: 10px 0;
    }
    &:hover .grid-product-img-1 {
      background: #6ea600 url("../images/white-img1.png") no-repeat center;
    }
    &:hover .grid-product-img-2 {
      background: #6ea600 url("../images/white-img2.png") no-repeat center;
    }
    &:hover .grid-product-img-3 {
      background: #6ea600 url("../images/white-img3.png") no-repeat center;
    }
    &:hover .grid-product-img-4 {
      background: #6ea600 url("../images/white-img4.png") no-repeat center;
    }
  }
}

.grid-product-img-1 {
  background: url("../images/green-img.png") no-repeat center;
}
.grid-product-img-2 {
  background: url("../images/green-img2.png") no-repeat center;
}
.grid-product-img-3 {
  background: url("../images/green-img3.png") no-repeat center;
}
.grid-product-img-4 {
  background: url("../images/green-img4.png") no-repeat center;
}

.grid-sec {
  text-align: center;
  h3 {
    margin-bottom: 21px;
    font-size: 1.3em;
    font-weight: 400;
    width: 163px;
    line-height: 25px;
    a {
      color: #000;
    }
    &:hover a {
      color: #6ea600;
      text-decoration: none;
    }
  }
  p {
    font-size: 1em;
    font-weight: 400;
    margin: 0 auto 50px;
    width: 163px;
  }
}

.grid-sec-img {
  height: 127px;
  width: 127px;
  margin: 0 auto 26px;
  border-radius: 50%;
  border: 2px solid #90bc3b;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-hits {
  img {
    width: 100%;
    margin-bottom: 28px;
  }
  span {
    font-size: 1.5em;
    font-weight: 400;
  }
  h3 {
    font-size: 1.3em;
    line-height: 25px;
    margin: 19px 0 30px;
  }
  p {
    font-size: 1em;
    line-height: 22px;
  }
}

.advance-payment {
  background-image: url("../images/big-i.png");
  color: #fff;
  text-align: left;
  padding-bottom: 50px;
  h3 {
    margin: 53px 0 40px;
  }
  .row {
    margin-top: 10px;
  }
  .row h3 {
    display: block;
    margin: 0 0 26px 0;
  }
  select {
    width: 263px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 1.1em;
    font-weight: 300;
    line-height: 40px;
    padding: 10px 0 8px 20px;
    margin: 0 0 30px -15px;
    border: none;
    &:focus {
      outline: none;
    }
    option {
      color: #000;
    }
  }
  .fa {
    margin-left: -18px;
    font-size: 1.2em;
    color: #000;
  }
}

.payment-info {
  padding-left: 95px;
  p {
    font-size: 3.6em;
    font-weight: 300;
    line-height: 40px;
    margin-top: 75px;
    .fa-rub {
      font-size: inherit;
      color: #ffffff;
      margin-left: 5px;
    }
  }
  button {
    letter-spacing: 1px;
  }
}

.mobile-button {
  display: none;
}

#map {
  width: 100%;
  height: 465px;
}

.grid-map {
  h3 {
    margin-bottom: 25px;
    display: block;
  }
}

.grid-map-items {
  clear: left;
  img {
    float: left;
    margin: 0 30px 30px 0;
  }
  h4 {
    font-size: 1.3em;
    line-height: 25px;
    a {
      color: #000;
    }
  }
  P {
    font-size: 1em;
    line-height: 22px;
  }
}

.grid-news {
  span {
    background-color: #6fa900;
    padding: 10px;
    color: #ffffff;
    font-size: 1em;
  }
  h4 {
    font-size: 20px;
    line-height: 25px;
    margin-top: 25px;
    a {
      color: #000;
    }
    &:hover a {
      color: #6fa900;
      text-decoration: none;
    }
  }
  p {
    font-size: 1em;
    line-height: 22px;
  }
}

.proposal h3 {
  padding: 0 0 2% 7%;
}

.proposal-content {
  background: #000000 url("../images/galery2.png") no-repeat;
  background-size: contain;
  position: relative;
  height: 42em;
  div {
    background: rgba(0,0,0,0.6);
    position: absolute;
    right: 0;
    width: 40%;
    height: 100%;
    font-size: 1em;
    font-weight: 400;
    line-height: 22px;
    color: #ffffff;
    padding: 1% 10% 2% 2%;
    h4 {
      font-size: 1.6em;
      font-weight: 300;
      line-height: 40px;
    }
    p {
      font-size: 1em;
      font-weight: 400;
      line-height: 22px;
    }
    a {
      display: block;
      color: #afe548;
      font-size: 1em;
      font-weight: 400;
      line-height: 33px;
    }
    .proposal-content-info{
      font-size: 1.3em;
      font-weight: 300;
      line-height: 36px;
      display: inline-block;
      width: 50%;
    }
    span {
      font-size: 1.3em;
      font-weight: 300;
      line-height: 36px;
    }
    button {
      margin-top: 3em;
    }
  }
}

.breeds {
  height: 270px;
  text-align: center;
  p {
    font-size: 1.3em;
    font-weight: 400;
    line-height: 25px;
    position: relative;
    top: 80%;
  }
}

.breeds-item1 {
  background: #f2f2f2 url("../images/var.png") no-repeat;
  background-position-x: center;
  background-size: contain;
}

.breeds-item2 {
  background: #f2f2f2 url("../images/var3.png") no-repeat;
  background-position-x: center;
  background-size: contain;
}

.breeds-item3 {
  background: #f2f2f2 url("../images/var2.png") no-repeat;
  background-position-x: center;
  background-size: contain;
}

.breeds-item4 {
  background: #f2f2f2 url("../images/var1.png") no-repeat;
  background-position-x: center;
  background-size: contain;
}

.breeds-item1, .breeds-item2,.breeds-item3,.breeds-item4 {
  div {
    display: none;
    a:hover {
      text-decoration: none;
    }
    .fa {
      color: #ffffff;
      opacity: 0.6;
      font-size: 5em;
      display: block;
      padding: 5%;
      font-weight: 900;
    }
    span {
      color: #ffffff;
      font-size: 1.3em;
      line-height: 25px;
    }
    p {
      color: #ffffff;
      font-size: 1.1em;
      font-weight: 600;
      line-height: 25px;
      padding: 10px 32px;
      background-color: #90bc3b;
      position: inherit;
      margin: 10px auto;
      text-transform: uppercase;
      width: 11em;
    }
  }
  &:hover div {
    display: block;
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    text-align: center;
  }
  &:hover > p {
    display: none;
  }
}

footer {
  margin-top: 60px;
  background-color: #998658;
  color: #ffffff;
}
.footer-list {
  margin: 3% 0 5%;
  h4 {
    font-size: 1.3em;
    font-weight: 600;
  }
  ul {
    font-size: 1em;
    font-weight: 300;
    line-height: 35px;
    list-style: none;
    padding: 0;
    li a {
      color: #ffffff;
    }
  }
}

.footer-contacts {
  margin: 3% 0 5%;
  img {
    display: block;
    margin-bottom: 30px;
  }
  div {
    padding: 0;
    span {
      line-height: 35px;
    }
  }
  span {
    font-size: 1em;
    font-weight: 300;
    line-height: 75px;
  }
  p {
    font-size: 1em;
    font-weight: 300;
    line-height: 21px;
    width: 81%;
  }
}

.btn-lg {
  background: none;
  border: none;
  color: #000;
  &:hover {
    border:1px solid #cccccc;
    background: none;
    padding: 9px 15px;
  }
  &:focus {
    background: none;
    outline: none;
  }
}
.modal-dialog {
  width: 25%;
  .modal-content {
    padding: 10% 15% 5%;
  }
}

@media screen and (max-width: 992px) {
  header {
    .logo p {
      display: none;
    }
    .connect {
      width: 30%;
    }
  }

  nav {
    flex-direction: column;
    ul {
      li {
        padding: 2% 0;
        width: 100%;
        justify-content: space-around;
        &:hover {
          padding-bottom: calc(2% - 2px);
        }
      }
    }
    div {
      padding: 2%;
      font-size: 1.3em;
      .search-icon {
        margin-left: -31px;
      }
    }
  }

  .grid-product-item {
    padding: 0 25%;
  }

  .header-width-img {
    margin: 40px 0;
  }

  .grid-product-item, .grid-item, .grid-hits, #map, .breeds {
    margin-bottom: 10px;
  }

  .advance-payment select {
    width: 20em;
  }

  .payment-info {
    padding: 0;
  }

  .gallery {
    .mobile-button {
      display: block;
    }
    div {
      display: none;
    }
  }

  .proposal-content {
    background-size: cover;
    div {
      width: 50%;
      padding: 1%;
      p {
        display: none;
      }
    }
  }

  .footer-list {
    h4 {
      font-size: 1.6em;
    }
    ul {
      font-size: 1.3em;
    }
  }

  .footer-contacts {
    span, p {
      font-size: 1.2em;
    }
  }
}
@media screen and (max-width: 767px) {
  nav {
    ul {
      flex-direction: column;
      li {
        width: 30%;
      }
    }
  }
  .payment-info {
    p {
      font-size: 2.6em;
    }
  }
  .proposal-content {
    div {
      width: 100%;
    }
  }
}



